/* Custom Font*/
@font-face{
    font-family: "AnonymousPro";
    src:("anonymousPro-Regular.ttf") format("truetype"); 
    /* tt= TureType format and open type format => the Woff if the web open format which is the compressed version of the font & Woff2 */
    /* WOFF 2 fastest and has better performance but the browser comptability is not that perfect*/

    /*
        if we have different types of font format we could simply chain them here and start with the Woff2 

      src:("anonymousPro-Regular.woff2") format("woff2"),
          ("anonymousPro-Regular.woff") format("woff"),
          ("anonymousPro-Regular.ttf") format("truetype"),
    */
}
 
@font-face{
    font-family: "AnonymousPro";
    src:("anonymousPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

.background {
    background: url('../images/plans-background.jpg') center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.plan__details  {
    width: 80%;
    border: 4px solid #104213;
     /* it is recommeded to leave the border and box-shadow:  in px as it's to avoid changing the value relative to the font-size*/
    margin: 1rem 0;
    border-left: none;
    position: relative;
    z-index: 1;
}
.plan__details:hover,
.plan__details:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454 ;
    /* border-color: #ff5454 !important; */
}

.plan__details a{
    text-decoration: none;
    color: inherit;
    padding: 2rem;
    display: block;
}
.plan__badge{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    font-size: 0.8rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
    z-index: 10;
}

.clearFix {
    clear: both;
}
#plus{
    background:rgba(213, 255, 220, 0.95);
}
#free{
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #104213;
    text-align: right;
}
#free:hover,
#free:active{
    border-left-color: #ff5454 ;
}

#premium{
    background: rgba(14, 79, 31, 0.95);
}
#premium .plan__details__title{
    color: white;
}
#premium .plan__details__description{
    color: #bbb;
}
.plan__details__description {
    color: #969696 ;
}

.plan__details__feature {
    border: 1px solid #104213;
    padding: 1rem;
    background: white;
    color:#243932;
    font-size: 1.2rem;
    /*font: italic small-caps 700 1.2rem/2  "AnonymousPro","Roboto", sans-serif; */
    /*font : font-style font-variant font-weight font-size/line-height font-family; */
}

@media (min-width:40rem){
    .main{
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width:1500px){
    .package{
        border-left: 4px solid #104213;
    }

    #free{
        border-right:4px solid #104213;
    }
    #free:hover,
    #free:active{
        border-right-color: #ff5454 ;
    }
}